#card-container{
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  background-color: cadetblue;
}
body{
  background:wheat;
}
nav{
  background:CornFlowerBlue;
}
#image{ 
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}
.sage { 
  position: relative; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
}

.sage::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.35);
}
.movie-card {
  padding: 10px;
}
.movie-description {
  background: var(--color5);
  border-radius: 0 0 0.5rem 0.5rem;
}
.movie-title {
  color: var(--color3);
  padding: 0.5rem;
  font-size: 1rem;
}
.movie-vote {
  background: var(--color2);
  color: orange;
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.movie-img {
  border-radius: 0.5rem 0.5rem 0 0;
  overflow: hidden;
  max-height: 100% !important;
}
