#card-container{
  padding: 0 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 275px;
  margin: 10px;
  background-color: cadetblue;
}
body{
  background: linear-gradient(360deg, rgba(131,58,180,1) 0%, rgba(186,51,51,1) 37%, rgba(252,176,69,1) 100%);
}
nav{
  background:CornFlowerBlue;
}